/* input[data-hover]:hover>div {
  border-color: rebeccapurple
} */

.chkb_real-checkbox:focus.focus-visible+.visible-contents .chkb-visible-box {
  outline: 2px auto var(--color-primary);
  outline-offset: 2px;
}

/* .real-checkbox:hover+div {
  border-color: var(--color-gray-1000)
} */

/* input[data-hover]:focus.focus-visible+.div {
  outline: '2px auto var(--color-primary)';
  outline-offset: '2px'
} */