@media (hover: hover) {
  .sn__wrapper--info .tl__wrapper {
    color: var(--color-text);
    box-shadow: 0px 1px 0px var(--color-primary);
    font-weight: var(--font-weight-medium);
  }

  .sn__wrapper--info .tl__wrapper:hover {
    box-shadow: 0px 2px 0px var(--color-primary);
  }

  .sn__wrapper--warning .tl__wrapper {
    color: var(--color-text);
    box-shadow: 0px 1px 0px var(--color-alert);
  }

  .sn__wrapper--warning .tl__wrapper:hover {
    box-shadow: 0px 2px 0px var(--color-alert);
  }

  .sn__wrapper--success .tl__wrapper {
    color: var(--color-text);
    box-shadow: 0px 1px 0px var(--color-success);
  }

  .sn__wrapper--success .tl__wrapper:hover {
    box-shadow: 0px 2px 0px var(--color-success);
  }
}