*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: 1.5;
  line-height: calc(1em + 0.725rem);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol {
  /* padding: 0; */
  padding-left: 10px;
}

ol,
ul {
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

body {
  color: var(--foreground1);
  background: var(--background1);
  transition: var(--foreground1) 350ms, var(--background1) 350ms;
}

a {
  text-decoration: inherit;
}

a:focus {
  outline: 5px auto var(--foreground3);
}

body,
input,
button,
select,
option {
  font-family: var(--family);
  font-weight: var(--fontWeightRegular);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: var(--fontWeightSemibold);
}

code {
  font-size: 0.95em;
}

*:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem var(--foreground1),
    /* use site bg color to create whitespace for faux focus ring */ 0 0 0 0.35rem var(--foreground3) !important;
  /* faux focus ring color */
}

/**
 * Undo the above focused button styles when the element received focus
 * via mouse click or touch, but not keyboard navigation.
 */
*:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}

* {
  -webkit-tap-highlight-color: transparent;
}
