.sn__wrapper .paragraph_wrapper {
  font-size: calc(17 / 16 * 1rem);
  margin-bottom: 1rem;
}

.sn__wrapper .paragraph_wrapper:last-child {
  margin-bottom: 0;
}

.sb__wrapper .paragraph_wrapper {
  font-size: calc(17 / 16 * 1rem);
  margin-bottom: 1rem;
}