.sn__wrapper--info .sn__iconwrapper {
  color: var(--color-info);
}

.sn__wrapper--success .sn__iconwrapper {
  color: var(--color-success);
}

.sn__wrapper--warning .sn__iconwrapper {
  color: var(--color-alert);
  border-radius: 25% 25%;
  left: -1.5px;
}