#divider:before, #divider:after {
  content: '';
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#divider:before {
  width: 100%;
  height: 1px;
  background-color: var(--color-gray-100);
}

@media (min-width: 960px) {

  #divider {
    width: 16px;
    cursor: col-resize;
    padding: 0;
  }

  #divider:before,
  #divider:after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  #divider:before {
    width: 1px;
    height: auto;
  }

  #divider:after {
    width: 11px;
    background-color: hsl(210deg 15% 20% / 0.5);
    opacity: 0;
    transition: opacity 500ms;
  }

  #divider:hover:after {
    opacity: 1;
    transition: opacity 250ms;
  }

}