*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  line-height: 1.5;
  line-height: calc(1em + 0.725rem);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition: var(--color-text) 350ms, var(--color-background) 350ms;
}

a:focus {
  outline: 5px auto var(--color-primary);
}

body,
input,
button,
select,
option {
  font-family: var(--font-family);
  font-weight: var(--font-weight-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: var(--font-weight-bold);
}

code {
  font-size: 0.95em;
}

*:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0.2rem #fff, /* use site bg color to create whitespace for faux focus ring */ 0 0 0 0.35rem #069 !important;
  /* faux focus ring color */
}

/**
 * Undo the above focused button styles when the element received focus
 * via mouse click or touch, but not keyboard navigation.
 */
*:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}
