*::-webkit-scrollbar {
  width: 12px;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(29, 30, 38);
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  border: 3px solid rgb(29, 30, 38);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.12);
}
