.csnp__outerwrapper .token-line,
.csnp__outerwrapper [data-code-snippet=true] textarea,
.csnp__outerwrapper [data-code-snippet=true] pre {
  padding: 0 !important;
}

@media (max-width: 563px) {

  .csnp__outerwrapper .token-line,
  .csnp__outerwrapper [data-code-snippet=true] textarea,
  .csnp__outerwrapper [data-code-snippet=true] pre {
    font-size: 14px !important;
    line-height: 28px !important;
  }
}

@media (min-width: 564px) {

  .csnp__outerwrapper .token-line,
  .csnp__outerwrapper [data-code-snippet=true] textarea,
  .csnp__outerwrapper [data-code-snippet=true] pre {
    font-size: 17px !important;
    line-height: 28px !important;
  }
}

/* .csnp__outerwrapper [data-code-snippet=true] textarea {
  outline-offset: 32px;
} */

.sbsc__wrapper .csnp__outerwrapper {
  margin-top: 0;
  margin-bottom: 48px;
}

.sn__wrapper .csnp__outerwrapper {
  margin-bottom: 24px;
}

/* .csnp__outerwrapper textarea::selection {
  background-color: rgba(128, 128, 128, 0.2);
} */