.lcsp__wrapper--col {
  position: relative;
  flex: 1;
  outline-offset: 2px;
}

.lcsp__wrapper .lcsp__wrapper--col {
  width: 50%
}

@media (max-width: 1024px) {
  .lcsp__wrapper .lcsp__wrapper--col {
    width: 70%
  }
}

@media (max-width:768px) {
  .lcsp__wrapper .lcsp__wrapper--col {
    width: 100%
  }
}