.sn__wrapper .scw__wrapper {
  margin-left: unset;
  margin-right: unset;
  background: rgba(0, 0, 0, 0.1);
}

.sbsc__wrapper .scw__wrapper {
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0px 0px 35px 35px var(--color-background);
}

@media (max-width:768px) {
  .sn__wrapper .scw__wrapper {
    width: 100%
  }
}

@media (max-width: 563px) {
  .sn__wrapper .scw__wrapper {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
    background: rgba(0, 0, 0, 0.1);
  }
}

.sn__wrapper .scw__language {
  background: rgba(0, 0, 0, 0.1);
}