.list__orderedlist--elem li::before {
  content: counters(counts, '.') '. ';
  font-feature-settings: 'tnum';
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  padding-right: 12px;
}

/* For nested list items, add top margin as well */
ul .list__unorderedlist--elem {
  margin-top: 16px;
}

.sn__wrapper--info .list_wrapper, .sn__wrapper--warning .list_wrapper, .sn__wrapper--success .list_wrapper {
  font-size: calc(17 / 16 * 1rem);
  margin-bottom: 8px;
}